// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// src/css/quasar.variables.scss

$primary: #155eee;
$secondary: #7926a6;
$text-second: #929397;
$accent: #9c27b0;
$verified: #0195f7;

$dark: #000000;
$dark-page: #0d111e;
$text-primary-dark: #ffffff;
$text-secondary-dark: #888888;

$light: #ffffff;
$light-page: #eeeeee;
$text-primary-light: #000000;
$text-secondary-light: #404040;

$positive: #2dba4e;
$negative: #d91c32;
$info: #005eff;
$warning: #f2c037;

//colores predeterminados para los roles

$role-color-1: #ff6b6b; // Coral Red
$role-color-2: #076ea9; // Aqua Mint
$role-color-3: #5925cd; // Mustard Yellow
$role-color-4: #1a535c; // Dark Teal
$role-color-5: #ff9f1c; // Vibrant Orange
$role-color-6: #6a4c93; // Royal Purple
$role-color-7: #2ec4b6; // Turquoise
$role-color-8: #d90368; // Raspberry Pink
$role-color-9: #3a86ff; // Bright Blue
$role-color-10: #8338ec; // Electric Violet

.bg-role-color-1 {
    background: $role-color-1 !important;
}

.bg-role-color-2 {
    background: $role-color-2 !important;
}

.bg-role-color-3 {
    background: $role-color-3 !important;
}

.bg-role-color-4 {
    background: $role-color-4 !important;
}

.bg-role-color-5 {
    background: $role-color-5 !important;
}

.bg-role-color-6 {
    background: $role-color-6 !important;
}

.bg-role-color-7 {
    background: $role-color-7 !important;
}

.bg-role-color-8 {
    background: $role-color-8 !important;
}

.bg-role-color-9 {
    background: $role-color-9 !important;
}

.bg-role-color-10 {
    background: $role-color-10 !important;
}

.text-role-color-1 {
    color: $role-color-1 !important;
}

.text-role-color-2 {
    color: $role-color-2 !important;
}

.text-role-color-3 {
    color: $role-color-3 !important;
}

.text-role-color-4 {
    color: $role-color-4 !important;
}

.text-role-color-5 {
    color: $role-color-5 !important;
}

.text-role-color-6 {
    color: $role-color-6 !important;
}

.text-role-color-7 {
    color: $role-color-7 !important;
}

.text-role-color-8 {
    color: $role-color-8 !important;
}

.text-role-color-9 {
    color: $role-color-9 !important;
}

.text-role-color-10 {
    color: $role-color-10 !important;
}

.bg-admin {
    background: linear-gradient(
        -225deg,
        #5b0d62 0%,
        #f11ca3 48%,
        #5b0d62 100%
    ) !important;
}
.text-admin {
    background: linear-gradient(-225deg, #5b0d62 0%, #f11ca3 48%, #5b0d62 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
// Fin Colores predeterminados para los roles

.bg-verified {
    background: $verified !important;
}
.text-verified {
    color: $verified !important;
}
.text-second {
    color: $text-second;
}
.q-field--filled .q-field__control {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.q-field {
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}
.q-field--filled .q-field__control:before {
    border-bottom: 0px solid rgba(255, 0, 0, 0.24);
    transition: border-color 0.36s cubic-bezier(0.4, 0, 0.2, 1);
}
.q-field--filled .q-field__control:hover:before {
    border-color: #00000000;
}
.q-field--filled .q-field__control:after {
    height: 0px;
    top: auto;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    transform-origin: center bottom;
    transform: scale3d(0, 1, 1);
    background: currentColor;
    transition: transform 0.36s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-border-radius {
    border-radius: 10px !important;
}
.btn-round-radius {
    border-radius: 50px !important;
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    -ms-border-radius: 50px !important;
    -o-border-radius: 50px !important;
}
.div-rounded-radius {
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}
.q-splitter--vertical > .q-splitter__separator {
    width: 0px !important;
}
.body--dark {
    background-color: $dark;
    color: $light;
    .text-theme {
        color: $light;
    }
    .page-background {
        background-color: $dark;
        color: $text-primary-dark;
    }
    .q-drawer {
        background-color: $dark-page;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        color: white;
    }
    .q-toolbar {
        background-color: $dark;
    }
    .btn-toolbar {
        background-color: $dark-page;
        color: $text-primary-light;
    }
    .bg-card {
        background: $dark;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(15px);
        border-radius: 25px !important;
        padding: 2rem;
        -webkit-border-radius: 25px !important;
        -moz-border-radius: 25px !important;
        -ms-border-radius: 25px !important;
        -o-border-radius: 25px !important;
    }
    .q-item.q-router-link--active {
        color: $light !important;
        background-color: $dark;
    }
    .bg-first {
        background-color: $dark;
    }
    .bg-second {
        background-color: $dark-page;
    }
    .q-tab--active {
        background-color: $dark-page !important;
        border: 0px solid black !important;
        border-radius: 20px;
    }
    .shadow-menu-user {
        -webkit-box-shadow: 0px 0px 5px 4px $dark;
        -moz-box-shadow: 0px 0px 5px 4px $dark;
        box-shadow: 0px 0px 5px 4px $dark;
    }
    .active-drawer-item {
        background-color: $dark !important;
    }
    .q-table thead,
    .q-table tr,
    .q-table th,
    .q-table td {
        border-color: #151515;
    }
    .chip-total-users .q-chip__content {
        color: $light;
    }
    .div-blur {
        background: #040415d1 !important;
        -webkit-backdrop-filter: blur(20px) !important;
        backdrop-filter: blur(20px) !important;
    }
    .chip-user-active {
        background-color: #004618;
        border-radius: 8px;
        font-size: 12px;
        padding: 9px 10px;
    }
    .chip-user-inactive {
        background-color: #310000;
        border-radius: 8px;
        font-size: 12px;
        padding: 9px 10px;
    }
    .text-caption {
        color: #9b9b9b !important;
    }
}
.q-avatar {
    border: 0px solid #fff !important;
}
/* Estilos para el tema claro */
.body--light {
    background-color: $light;
    color: $dark;
    .page-background {
        background-color: $light;
        color: $text-primary-light;
    }
    .q-drawer {
        background: $light-page;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        color: $dark-page;
    }
    .q-toolbar {
        background-color: $light;
    }
    .btn-toolbar {
        background-color: $light-page;
        color: $dark;
    }
    .bg-card {
        background: $dark;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(15px);
        border-radius: 25px !important;
        padding: 2rem;
        -webkit-border-radius: 25px !important;
        -moz-border-radius: 25px !important;
        -ms-border-radius: 25px !important;
        -o-border-radius: 25px !important;
    }
    .q-item.q-router-link--active {
        color: $dark !important;
        background-color: $light;
    }
    .text-theme {
        color: $dark;
    }
    .bg-first {
        background-color: $light;
    }
    .bg-second {
        background-color: $light-page;
    }
    .q-tab--active {
        background-color: $light-page !important;
        border: 0px solid black !important;
        border-radius: 20px;
    }
    .shadow-menu-user {
        -webkit-box-shadow: 0px 0px 5px 4px #e1e1e1;
        -moz-box-shadow: 0px 0px 5px 4px #e1e1e1;
        box-shadow: 0px 0px 5px 4px #e1e1e1;
    }
    .active-drawer-item {
        background-color: $light !important;
    }
    .q-table thead,
    .q-table tr,
    .q-table th,
    .q-table td {
        border-color: #f0f0f0;
    }
    .chip-total-users .q-chip__content {
        color: $dark;
    }
    .div-blur {
        background: #ffffff9e !important;
        backdrop-filter: blur(8px) !important;
    }
    .chip-user-active {
        background-color: #c9fbda;
        border-radius: 8px;
        font-size: 12px;
        padding: 9px 10px;
    }
    .chip-user-inactive {
        background-color: #ffd6d6;
        border-radius: 8px;
        font-size: 12px;
        padding: 9px 10px;
    }
    .text-caption {
        color: #8b8b8b !important;
    }
}

.q-tab__content {
    width: 100% !important;
}
@media (min-width: 800px) {
    .form-modal-view {
        padding: 16px 40px;
    }
}
.input-none-used.q-field--filled.q-field--dark .q-field__control,
.q-field--filled.q-field--dark .q-field__control:before {
    background: rgba(255, 255, 255, 0);
}
.select-role .q-field__inner .q-field__control .q-field__control-container .q-field__native {
    color: #fff !important;
}
.q-field--outlined .q-field__control {
    border-radius: 10px;
}
.q-table__top {
    padding: 0px;
}
.q-field__bottom {
    padding: 4px 12px 0 !important;
}
.page-padding {
    padding: 16px 48px !important;
}

@media (max-width: 768px) {
    .page-padding {
        padding: 8px 8px !important;
    }
    .q-dialog__inner--minimized {
        padding: 0px !important;
    }
    .form-modal-view {
        padding: 24px 24px;
    }
}

.chip-verified-view .q-chip__icon {
    color: $verified !important;
}
.description-role
    .q-field__inner
    .q-field__control
    .q-field__control-container {
    height: 100px !important;
}
.bg-blur
{
    background: #00000000 !important;
}
