// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// src/css/quasar.variables.scss

$primary: #155eee;
$secondary: #7926a6;
$text-second: #929397;
$accent: #9c27b0;

$dark: #000000;
$dark-page: #0d111e;
$text-primary-dark: #ffffff;
$text-secondary-dark: #888888;

$light: #ffffff;
$light-page: #eeeeee;
$text-primary-light: #000000;
$text-secondary-light: #404040;

$positive: #2dba4e;
$negative: #e0021c;
$info: #005eff;
$warning: #f2c037;

.text-second {
    color: $text-second;
}

.q-field--filled .q-field__control {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.q-field {
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}
.q-field--filled .q-field__control:before {
    border-bottom: 0px solid rgba(255, 0, 0, 0.24);
    transition: border-color 0.36s cubic-bezier(0.4, 0, 0.2, 1);
}
.q-field--filled .q-field__control:hover:before {
    border-color: #00000000;
}
.q-field--filled .q-field__control:after {
    height: 0px;
    top: auto;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    transform-origin: center bottom;
    transform: scale3d(0, 1, 1);
    background: currentColor;
    transition: transform 0.36s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-border-radius {
    border-radius: 8px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    -o-border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
}
.btn-round-radius {
    border-radius: 50px !important;
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    -ms-border-radius: 50px !important;
    -o-border-radius: 50px !important;
}
.div-rounded-radius {
    border-radius: 20px;
}
.body--dark {
    background-color: $dark;
    color: $light;
    .text-theme {
        color: $light;
    }
    .page-background {
        background-color: $dark;
        color: $text-primary-dark;
    }
    .q-drawer {
        background-color: $dark-page;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        color: white;
    }
    .q-toolbar {
        background-color: $dark;
    }
    .btn-toolbar {
        background-color: $dark-page;
        color: $text-primary-light;
    }
    .bg-card {
        background: $dark;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(15px);
        border-radius: 25px !important;
        padding: 2rem;
        -webkit-border-radius: 25px !important;
        -moz-border-radius: 25px !important;
        -ms-border-radius: 25px !important;
        -o-border-radius: 25px !important;
    }
    .q-item.q-router-link--active{
        color: $light !important;
        background-color: $dark;
    }
}
.q-avatar {
    border: 0px solid #fff !important;
}
/* Estilos para el tema claro */
.body--light {
    background-color: $light;
    color: $dark;
    .page-background {
        background-color: $light;
        color: $text-primary-light;
    }
    .q-drawer {
        background: $light-page;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        color: $dark-page;
    }
    .q-toolbar {
        background-color: $light;
    }
    .btn-toolbar {
        background-color: $light-page;
        color: $dark;
    }
    .bg-card {
        background: $dark;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(15px);
        border-radius: 25px !important;
        padding: 2rem;
        -webkit-border-radius: 25px !important;
        -moz-border-radius: 25px !important;
        -ms-border-radius: 25px !important;
        -o-border-radius: 25px !important;
    }
    .text-theme {
        color: $dark;
    }
}

@media (max-width: 600px) {
}
